.About {
  align-items: center;
  // padding: 20px 50px;
  text-align: center;
  margin: auto;
}

.collapse-wrapper {
  p {
    padding-left: 15px;
    padding-right: 20px;
  }
  padding-top: 20px;
  padding-bottom: 40px;
}
