.fiche-logement {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1240px;
  padding-bottom: 40px;
}

.logementWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(255, 96, 96, 1);
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  align-items: center;
  margin-top: 30px;

  .logementTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    width: 100%;

    h2 {
      font-size: 36px;
      font-weight: 500;
      margin: 0;
      text-align: left;
    }

    p {
      margin: 0;
    }
  }

  .hostCard {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    h3 {
      font-size: 18px;
      font-weight: 500;
      width: 30%;
    }

    img {
      // width: 30%;
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }
}

.collapseLogement {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .collapseDescription {
    width: 45%;
    margin: 0;
  }

  .collapseEquipements {
    width: 45%;
    margin: 0;
  }
}

.collapseLogement p {
  padding-left: 15px;
  padding-right: 20px;
}

.collapseLogement ul {
  padding-left: 15px;
  padding-right: 20px;
  list-style-type: none;
}

.carouselContainer {
  margin: 0;
  width: 100%;
}

.tagRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .tag {
    margin: 0;
    display: flex;
    flex-direction: row;

    p {
      padding-right: 5px;
      background-color: rgba(255, 96, 96, 1);
      border-radius: 10px;
      color: white;
      font-size: 14px;
      font-weight: 500;
      padding: 4px 20px;
      margin-right: 8px;
    }
  }

  .rating {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 600px) {
  .carouselContainer {
    margin: 10px;
    width: auto;
  }
  .logementWrapper {
    margin: 10px;
    width: auto;
    .hostCard {
      justify-content: space-between;
    }
  }
  .tagRating {
    margin: 10px;
    width: auto;
    align-items: center;
  }
  .collapseLogement {
    margin: 10px;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .collapseDescription {
      width: 95%;
    }
    .collapseEquipements {
      width: 95%;
    }
  }
}
