.collapse-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collapse-button {
  display: flex;
  background-color: #ff6060;
  color: white;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 24px;
  border-style: none;
}

.arrow {
  transition: transform 400ms;
}

.arrow.up {
  transform: rotate(-90deg);
}

.arrow.down {
  transform: rotate(0deg);
}

.collapse-down {
  display: flex;
  background-color: #f6f6f6;
  color: #ff6060;
  width: 100%;
  max-width: 1000px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
}

.collapse-transition-enter {
  // opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition:  height 3s ease;
  background-color: blue;
}

.collapse-transition-enter-active {
  // opacity: 1;
  height: auto;
  // transition:  height 6s ease;
  // background-color: purple;
}

.collapse-transition-enter-done {
  height: auto;
}

.collapse-transition-exit {
  // opacity: 1;
  height: auto;
  background-color: green;
}

.collapse-transition-exit-active {
  // opacity: 0;
  height: 0;
  overflow: hidden;
  transition:  height 3s;
  background-color: orange;
}