// .header {
//   background-color: #ffffff;
//   font-family: Montserrat, sans-serif;
//   color: #ff6060;
//   display: flex;
// }
.header {
  max-width: 1240px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    max-width: 1240px;
  }

  img {
    height: 50px;
    margin-right: 20px;
  }

  nav {
    display: flex;
    gap: 50px; 
    font-size: 24px;
    font-weight: 500;

    a {
      text-decoration: none;
      color: #ff6060; 
    }
    a:hover {
      text-decoration: underline;
    }
  }
}