.header {
  max-width: 1240px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    // max-width: 1240px;
  }

  img {
    height: 70px;
    margin-right: 20px;
  }

  nav {
    display: flex;
    gap: 50px;
    font-size: 24px;
    font-weight: 500;

    a {
      text-decoration: none;
      color: #ff6060;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    header {
      padding: 0;
      margin: 10px;
    }
    nav {
      font-size: 12px;
    }
    img {
      height: 50px;
    }
  }
}
